.dark-background {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  max-width: 800px;
  background: white;
  color: white;
  border-radius: 16px;
	padding: 20px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-header {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  text-align: center;
}

.close-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #fefefe;
  background: #EE171F;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.information {
	display: flex;
	flex-direction: row;
}

.details {
	padding: 0 20px;
	color: #000000;
}