.container-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 80%;
}

.comic-card {
  position: relative;
	overflow: hidden;
	margin: 10px;
}

.comic-card > img {
	display: block;
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center;
}

.comic-card > .comic-info {
	position: absolute;
	inset: 0;
	padding: 1rem;
	background: rgba(255, 255, 255, .8);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.comic-card > img,
.comic-card > .comic-info {
	transition: 200ms ease-in-out;
}

.comic-title {
	font-size: 1rem;
	font-weight: bold;
	color: #EE171F;
	text-align: center;
	margin-bottom: 20px;
}

.comic-details {
	font-size: 1rem;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.comic-card > .comic-info.fade {
	opacity: 0;
}

.comic-card:hover > .comic-info.fade {
	opacity: 1;
}

.comic-card:hover > img.blur {
	filter: blur(2px);
}

.comic-card > .comic-info.slide-up {
	transform: translateY(-100%);
}

.comic-card:hover > .comic-info.slide-up {
	transform: translateY(0);
}