.container-comics {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
		flex-grow: 1;
		flex-basis: auto;
    padding-top: 36px;
}

.info-results {
	font-weight: 700;
	font-size: 24px;
}

.load-more-button {
    width: 250px;
    height: 40px;
    font-weight: 800;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    margin: 10px;
    background-color: #EE171F;
    cursor: pointer;
}

.info-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
}